html {
    --section-background-color: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.582),
            rgba(12, 8, 24, 0.904));

    --image-gradient: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.678),
            rgba(12, 10, 22, 0.863));

    --imp-text-color: #c770f0;
}

.purple {
    color: var(--imp-text-color) !important;
}

button:focus {
    box-shadow: none !important;
}



/* --------- */
/*  Preloader */
/* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url(../Assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(178, 121, 216, 0.959);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
}