@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}